<div class="album text-muted">
  <div class="container">
    <div>
      <%= link_to 'Create New Portfolio', new_portfolio_path, class: "btn create-new" if logged_in?(:site_admin) %>
    </div>
    <%= source_helper("alert alert-warning") %>

    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </>
  </div>
</div>