<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>

		<hr>

		<div class="row">
			<div class="col-md-4">
				<%= image_tag "profile.png", width: 300, alt: "profile image", class: 'profile-img' %>
			</div>

			<div class="col-md-8">
				<p>Though I'm new to development, I have experience in many other industries; all of which have fueled my desire to learn and improve my skills to become the most well-rounded developer I can be. I have realized that communication is king. There must be a good line of communication in order to reach any end goal.</p>

				<p>For this reason, I make sure throughout each stage of development that the client and I communicate daily to fully understand the design and ensure that it fits the vision they have. I know that I still have a lot to learn, but I continue to utilize my own resources as well as those I can access to ensure I deliver a quality prodcut.</p>

				<p>
					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#jobHistory"
						aria-expanded="false"
						aria-control="jobHistory"
					>
						Job History
					</button>

					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#education"
						aria-expanded="false"
						aria-control="education"
					>
						Education
					</button>
				</p>

				<p>
					<div class="collapse" id="jobHistory">
						<div class="card card-block">
							Compliance Consultant
						</div>
						<div class="card card-block">
							Residential Coordinator
						</div>
						<div class="card card-block">
							Account Development Manager
						</div>
						<div class="card card-block">
							Direct Support Professional
						</div>
						<div class="card card-block">
							Security Guard
						</div>
					</div>

					<div class="collapse" id="education">
						<div class="card card-block">
							Bottega Tech
						</div>
						<div class="card card-block">
							Utah Valley Unversity
						</div>
					</div>

				</p>
			</div>
		</div>
	</div>
</div>