<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>

		<hr>

		<div class="row">
			<div class="col-md-4">
				<%= image_tag "profile.png", width: 300, alt: "profile image" %>
			</div>

			<div class="col-md-8">
				<p>Though I'm new to development, my eagerness to learn and improve my skills drive me to become the most well-rounded developer I can be. I have realized that communication between clients and developers is key in order to reach the end goal sought of the customer and user.</p>

				<p>For this reason, I make sure throughout each stage of development to fully understand the design and ensure that it fits the specifications. I know that I still have a lot to learn, but utilize my own resources as well as those I have access to to ensure I deliver a quality prodcut.</p>
			</div>
		</div>
	</div>
</div>