<h1>Contact Me</h1>

<hr>

<div class="row">
	<div class="col-md-12">
		<%# <h3>Address</h3>

		<p class="contact-me"><a class= "btn btn-sm btn-secondary" href="https://www.google.com/maps/place/Provo,+UT/@40.2575125,-111.7789913,11z/data=!3m1!4b1!4m5!3m4!1s0x874d9271930bf1bf:0x1d90f12600b556ef!8m2!3d40.2338438!4d-111.6585337" target="_blank">Provo, Utah</a></p> %>

		<p class="contact-me">
			<a class= "btn btn-lg btn-secondary" href="tel:+14356099718">Call Me</a>

			<a class= "btn btn-lg btn-secondary" href="mailto:cheow3@gmail.com?subject=PortfolioContact" "email me">Email Me</a>

			<a class= "btn btn-lg btn-secondary" href="https://www.linkedin.com/in/vernkofford/" target="_blank">LinkedIn</a>
		</p>
	</div>
</div>