<h1>Contact Me</h1>

<hr>

<div class="row">
	<div class="col-md-12">
		<%# <h3>Address</h3>
ß
		<p><a href="https://maps.google.com/?q=2912 Executive Pkwy #220, Lehi, UT 84043">2912 Executive Pkwy #220, Lehi, UT 84043</a></p> %>

		<p class="contact-me">
			<a class= "btn btn-lg btn-secondary" href="tel:+14356099718">Call Me</a>

			<a class= "btn btn-lg btn-secondary" href="mailto:cheow3@gmail.com?subject=PortfolioContact" "email me">Email Me</a>

			<a class= "btn btn-lg btn-secondary" href="https://www.linkedin.com/in/vernkofford/" target="_blank">LinkedIn</a>
		</p>
	</div>
</div>