<h1>Pages#contact</h1>

<hr>

<div class="row">
	<div class="col-md-6">
		<h3>Address</h3>

		<p>974 W 600 S Apt 4B, Provo, UT 84601</p>

		<h3>Phone</h3>

		<p><%= number_to_phone "4356099718" %></p>

		<h3>Email</h3>

		<p><a href="mailto:cheow3@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
	</div>

	<!-- <div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3046.2178405924915!2d-111.67817934932748!3d40.22645847928642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d99fa3905632f%3A0x4d8184d05a15572f!2s974+W+600+S%2C+Provo%2C+UT+84601!5e0!3m2!1sen!2sus!4v1509051162733" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div> -->
</div>


