<div class="inner cover">
   	<h1 class="cover-heading">Welcome!</h1>
   	<p class="lead">Development is beautiful. I take time to understand the project to provide a well crafted product, but also ensure full communicaton throughout the process.</p>
   	<p class="lead">
    	<%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>